<div class="card card--overlay" style="background-image: url('http://placeimg.com/345/259/nature')">
  <a href="#" class="card__wrapper-link">
    <div class="card__inner">
      <header class="card__header">
        <h4 class="card__utility-title">Escape Rooms</h4>
      </header>
      <div class="card__content">
        <h3 class="card__title">Do you have what it takes to complete your mission?</h3>
      </div>
      <footer class="card__footer">
        <p class="card__faux-link">Book an Escape Room now <i class="fas fa-arrow-right"></i></p>
      </footer>
    </div>
  </a>
</div> <!-- .card--overlay -->

<div style="margin:20px auto; clear:both"></div>

<div class="card card--overlay alt-overlay" style="background-image: url('http://placeimg.com/345/259/nature')">
  <a href="#" class="card__wrapper-link">
    <div class="card__inner">
      <div class="card__content">
        <h3 class="card__title">VIP Bowling</h3>
        <p>Premiere seating, private lanes, huge screen TVs, handcrafted cocktails and premium beers. There’s never been a better way to spend time with friends.</p>
      </div>
      <footer class="card__footer">
        <p class="card__faux-link">Reserve a VIP lane <i class="fas fa-arrow-right"></i></p>
      </footer>
    </div>
  </a>
</div> <!-- .card -->