<div class="hours">
  
  <div class="hours__stack">
    <div class="hours__icon">
      <i class="fas fa-phone"></i>
    </div>
    <div class="hours__content hours__content--large">
      <a href="tel:6789655707">678-965-5707</a>
    </div>
  </div>

  <div class="hours__stack">
    <div class="hours__icon">
      <i class="fas fa-map-marker"></i>
    </div>
    <div class="hours__content">
      <p class="no-p no-m">
        930 Old Monrovia Rd NW<br>
        Huntsville, AL 35806
      </p>
    </div>
  </div>

  <div class="hours__stack">
    <div class="hours__icon">
      <i class="far fa-clock"></i>
    </div>
    <div class="hours__content">
      <table class="hours__table">
        <tr>
          <td><strong>M-Th</strong></td>
          <td>10AM - Midnight</td>
        </tr>
        <tr>
          <td><strong>Fri</strong></td>
          <td>10AM - 2AM</td>
        </tr>
        <tr>
          <td><strong>Sat</strong></td>
          <td>9Am - 2AM</td>
        </tr>
        <tr>
          <td><strong>Sun</strong></td>
          <td>9AM - Midnight</td>
        </tr>
      </table>
    </div>
  </div>

  <footer class="hours__footer">
    <p class="no-p no-m"><a href="#" class="btn btn--secondary btn--small">Change Location</a></p>
  </footer>

</div> <!-- .hours -->