<div class="card card--icon-bar card--arcade">
  <div class="card__inner">
    <div class="grid-ng-stretch">
      <div class="grid__col-ng-4 card__side-image">
        <i class="ss-icon-arcade card__floating-icon"></i>
      </div>
      <div class="grid__col-ng-8 card__side-content">
        <header class="card__header">
          <h2 class="card__title">Arcade</h2>
        </header>
        <div class="card__content">
          <p>Kids and adults love our clean, modern arcade. Prize redemption is easier than ever with our high-tech game cards.</p>
        </div>
        <footer class="card__footer">
          <a href="#">
            Learn More <i class="fas fa-arrow-right"></i>
          </a>
        </footer>
      </div>
    </div>
  </div>
</div> <!-- .card -->

<div class="card card--icon-bar card--laser-tag">
  <div class="card__inner">
    <div class="grid-ng-stretch">
      <div class="grid__col-ng-4 card__side-image">
        <i class="ss-icon-bowling card__floating-icon"></i>
      </div>
      <div class="grid__col-ng-8 card__side-content">
        <header class="card__header">
          <h2 class="card__title">Laser Tag</h2>
        </header>
        <div class="card__content">
          <p>There’s nothing like our laser tag experience. Put your gear on and challenge your friends to high-excitement laser tag play complete with fog machines, obstacles, and music that gets the energy pumping!</p>
        </div>
        <footer class="card__footer">
          <a href="#">
            Learn More <i class="fas fa-arrow-right"></i>
          </a>
        </footer>
      </div>
    </div>
  </div>
</div> <!-- .card -->

<div class="card card--icon-bar card--bumper-cars">
  <div class="card__inner">
    <div class="grid-ng-stretch">
      <div class="grid__col-ng-4 card__side-image">
        <i class="ss-icon-bumper-car card__floating-icon"></i>
      </div>
      <div class="grid__col-ng-8 card__side-content">
        <header class="card__header">
          <h2 class="card__title">Bumper Cars</h2>
        </header>
        <div class="card__content">
          <p>Yes, you can play bumper cars indoors! Spin, soar and bump under the blacklights. Disco lights and lasers complete the experience for a bumper car derby that’s out of this world. Bumpy rides have never been so fun.</p>
        </div>
        <footer class="card__footer">
          <a href="#">
            Learn More <i class="fas fa-arrow-right"></i>
          </a>
        </footer>
      </div>
    </div>
  </div>
</div> <!-- .card -->

<div class="card card--icon-bar card--escape">
  <div class="card__inner">
    <div class="grid-ng-stretch">
      <div class="grid__col-ng-4 card__side-image">
        <i class="ss-icon-escape card__floating-icon"></i>
      </div>
      <div class="grid__col-ng-8 card__side-content">
        <header class="card__header">
          <h2 class="card__title">Escape Rooms</h2>
        </header>
        <div class="card__content">
          <p>Take on a real life escape room in Huntsville's top game experience! Up to 8 players work together to find clues, solve puzzles, and pick locks that will free them from the game room. Do you have what it takes to escape?</p>
        </div>
        <footer class="card__footer">
          <a href="#">
            Learn More <i class="fas fa-arrow-right"></i>
          </a>
        </footer>
      </div>
    </div>
  </div>
</div> <!-- .card -->

<div class="card card--icon-bar card--food">
  <div class="card__inner">
    <div class="grid-ng-stretch">
      <div class="grid__col-ng-4 card__side-image">
        <i class="ss-icon-food card__floating-icon"></i>
      </div>
      <div class="grid__col-ng-8 card__side-content">
        <header class="card__header">
          <h2 class="card__title">Food</h2>
        </header>
        <div class="card__content">
          <p>Kids and adults love our clean, modern arcade. Prize redemption is easier than ever with our high-tech game cards.</p>
        </div>
        <footer class="card__footer">
          <a href="#">
            Learn More <i class="fas fa-arrow-right"></i>
          </a>
        </footer>
      </div>
    </div>
  </div>
</div> <!-- .card -->
