<div style="padding: 100px 0; background-color: #2692C9; text-align: center; position: relative;">

  <div class="card card--modal">
    <div class="card__inner">
      <header class="card__header">
        <h3 class="card__title">Join Birthday Club</h3>
        <a href="#" data-lity-close>
          <i class="far fa-times"></i> <span class="sr-only">Close Modal</span>
        </a>
      </header>
      <div class="card__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolorem illo voluptates sapiente blanditiis necessitatibus, labore ea quae consequatur odio dolores cum magnam itaque aspernatur beatae, non doloribus. Ut, fugiat!</p>
      </div>
    </div>
  </div> <!-- .card--modal -->

</div>