//
// Menus
//

.menu-wrap {

}

// general menus
.menu {
	display: block;
	margin: 0;
  padding: 0;
  list-style: none;
  @include cleartext;

	&, li {
		list-style: none;
  }

  > li > a:not(.btn) {
    font-weight: bold;
    text-decoration: none;
  }
}

// inline menus
.menu--inline {

	> li {
		display: block;

		a {
			display: block;
		}
	}

	@media ($bp-medium-large) {
		> li {
			display: inline-block;
		}
	}
}

// main menu

.top-bar {

  // > .inner > .menu > li > a {
  > .inner > .menu-container > .menu > li > a {
    clear: both;
    display: block;
    width: 100%;
    font-family: $zilla-slab;
    font-weight: bold;
    font-size: 30px;
  }

  .menu {

    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
    }

    li {
      display: block;
      position: relative;
    }

    a {
      display: block;
      text-decoration: none;

      &:link, &:visited {
        color: #fff;
      }

      &:hover, &:active, &:focus {
        color: $yellow;
        transition: $base-transition;
      }
    }
  }

  // > .inner > .menu ul {
  > .inner > .menu-container > .menu ul {
    font-family: $open-sans;
    font-size: 20px;
    font-weight: normal;
    text-align: left;

    a {
      font-weight: normal;
      padding: 15px;
    }
  }
}

// secondary menu

.menu-bar {

  .menu {

    > li {
      display: inline;
    }

    > li > a:not(.btn) {
      display: inline-block;
      padding: 15px;

      &:link, &:visited {
        color: #fff;
      }

      &:hover, &:active, &:focus {
        color: $yellow;
      }
    }
  }
}

.menu--secondary {

  a:hover {
    text-decoration: underline;
  }
}

// footer menu

.pre-footer {

  .menu {
    margin: 0 auto;

    li {
      display: inline;
    }

    > li:not(:last-of-type) a {
      border-right: 2px solid #fff;
    }

    a {
      display: inline-block;
      padding: 0 20px;

      &:link, &:visited {
        color: #fff;
      }

      &:hover, &:active, &:focus {
        color: $yellow;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 959px) {
  .menu--secondary {
    display: none;
  }

  .pre-footer .menu {

    a {
      margin: 10px 0;
    }
  }

  .menu--user-actions {

    > li {
      display: inline;
    }

    a {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  .top-bar {

    // > .inner > .menu {
    > .inner > .menu-container {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      top: 50px; left: 0;
      z-index: 9998;
      width: 100vw;
      background-color: $light-navy;
      will-change: opacity, transform, visibility;
      transition-property: opacity, visibility, transform;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
      transform: scale(0.95);

      // > li {
      > .menu > li {

        > a {
          padding: 15px;
          border-bottom: 1px solid rgba(#fff, 0.25);
        }
      }
    }

    // &.is-active > .inner > .menu {
    &.is-active > .inner > .menu-container {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }

    // active mobile menu
    .has-dropdown {

      i {
        margin-left: 10px;
        will-change: transform;
        transform-origin: center;
        transform: rotate(0deg);
        transition: transform 300ms ease-in-out;
      }

      > a {
        overflow: hidden;
      }

      // inactive mobile submenu
      a + .menu {
        height: 0;
        overflow: hidden;
      }

      a.is-active {

        > i {
          transform: rotate(180deg);
        }

        // active mobile submenu
        + .menu {
          height: 100%;
        }
      }
    }
  }
}

@media ($bp-medium) {
  .top-bar {

    > .inner > .menu-container {
      margin-left: auto;
    }

    // > .inner > .menu {
    > .inner > .menu-container > .menu {
      display: flex;
      justify-content: stretch;
      align-items: center;
      flex-wrap: nowrap;
      text-align: center;

      > li {
        flex: auto;

        > a {
          padding: 29px;
          // font-size: 23px;
          font-size: 18px;
        }

        //
        // desktop pulldowns
        //

        > ul {
          position: absolute;
          top: 90%; left: 0;
          z-index: 99999;
          opacity: 0;
          visibility: hidden;
          will-change: opacity, visibility;
          transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
          display: block;
          width: $pulldown-menu-width;
          background-color: $gray;
          border-radius: $base-radius;
          padding: 0 15px;
          box-shadow: 0 18px 20px 0 rgba(#000, 0.35);
          font-size: 16px;

          li:not(:last-of-type) {
            border-bottom: 1px solid $charcoal;
          }

          a {
            padding: 13px;
            font-weight: inherit !important;

            &:link, &:visited {
              color: $charcoal;
            }

            &:hover, &:active, &:focus {
              // color: $slate-blue; // fails WCAG
              color: $light-navy; // passes WCAG AA and AAA
              text-decoration: underline;
            }
          }
        }

        &:hover > ul {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  // .top-bar > .inner > .menu > li > a {
  .top-bar > .inner > .menu-container > .menu > li > a {
    font-size: 23px;
  }
}
