<h3 class="no-p no-m">
  <a href="{{ birthdayPackageAnchor }}" class="btn btn--secondary btn--basic btn--block">
    Book A Party <i class="fas fa-arrow-right"></i>
  </a>
</h3>
<h3 class="no-p no-m">
  <a href="{{ selectedLocation.get_field('external_link_lanes') }}" class="btn btn--secondary btn--basic btn--block">
    Reserve A Lane <i class="fas fa-arrow-right"></i>
  </a>
</h3>
