<!-- the inline font sizing is just for presentation -->
<div style="font-size:80px;">
  
  <!-- venue features -->
  <i class="ss-icon-arcade"></i>
  <i class="ss-icon-bowling"></i>
  <i class="ss-icon-bumper-car"></i>
  <i class="ss-icon-escape"></i>
  <i class="ss-icon-laser-tag"></i>
  <i class="ss-icon-food"></i>

  <!-- food menu legend -->
  <i class="ss-icon-chefs-choice"></i>
  <i class="ss-icon-gluten-free"></i>
  <i class="ss-icon-health-advisory"></i>
  <i class="ss-icon-healthy-choice"></i>
  <i class="ss-icon-hot-spicy"></i>
  
</div>