<footer id="colophon" class="site-footer" role="contentinfo">

  <div class="pre-footer">
    <div class="inner">

      <ul class="menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Blog</a></li>
      </ul> <!-- .menu -->
    
      <div class="site-footer__actions">
        <a href="#" class="btn btn-small">Join VIP Club</a>
        <a href="#" class="btn btn-small">Join Birthday Club</a>
      </div> <!-- .site-footer__actions -->

    </div> <!-- .inner -->
  </div> <!-- .pre-footer -->

  <p class="copyright">&copy; 2018 Stars and Strikes</p>

</footer> <!-- .site-footer -->