<form action="">

  <label>First Name <span class="gfield_required">*</span></label>
  <input type="text" placeholder="First Name" class="medium">

  <label>Last Name <span class="gfield_required">*</span></label>
  <input type="text" placeholder="Last Name" class="medium">

  <label>Street Address</label>
  <input type="text" placeholder="Address" class="medium">
  
  <label>How did you hear about us?</label>
  <select>
    <option value="" selected="selected">The World Wide Web, my dude</option>
    <option value="Afghanistan">Afghanistan</option>
    <option value="Albania">Albania</option>
    <option value="Algeria">Algeria</option>
  </select>
  
  <label>Address</label>
  <textarea></textarea>

  <button type="submit">Submit</button>

</form>
