<!-- standard buttons -->
<p><button class="btn">This is standard a button</button></p>
<p><button class="btn btn--small">This is a small button</button></p>
<p><button class="btn btn--smaller">This is a smaller button</button></p>

<p>
  <button class="btn">
    This is a button with an icon <i class="fas fa-arrow-right"></i>
  </button>
</p>

<!-- secondary buttons -->
<p><button class="btn btn--secondary">This is a secondary button style</button></p>
<p><button class="btn btn--secondary btn--small">This is a small secondary button style</button></p>
<p><button class="btn btn--secondary btn--smaller">This is a smaller button</button></p>

<p>
  <button class="btn btn--secondary">
    This is a button with an icon <i class="fas fa-arrow-right"></i>
  </button>
</p>