<div class="grid">

  <div class="grid__col-4">
    <div class="card card--feature card--arcade">
      <a href="#" class="card__link">
        <div class="card__inner">
          <div class="card__icon">
            <i class="ss-icon-arcade"></i>
          </div>
          <h3 class="card__title">Arcade</h3>
        </div>
      </a>
    </div>
  </div>

  <div class="grid__col-4">
    <div class="card card--feature card--laser-tag">
      <a href="#" class="card__link">
        <div class="card__inner">
          <div class="card__icon">
            <i class="ss-icon-laser-tag"></i>
          </div>
          <h3 class="card__title">Laser Tag</h3>
        </div>
      </a>
    </div>
  </div>

  <div class="grid__col-4">
    <div class="card card--feature card--escape">
      <a href="#" class="card__link">
        <div class="card__inner">
          <div class="card__icon">
            <i class="ss-icon-escape"></i>
          </div>
          <h3 class="card__title">Escape Room</h3>
        </div>
      </a>
    </div>
  </div>

</div>