<div style="padding: 100px; background-color: #2692C9; text-align: center; position: relative;">

  <div id="trigger-modal" class="card card--modal lity-hide">
    <div class="card__inner">
      <header class="card__header">
        <h3 class="card__title">Join Birthday Club</h3>
        <button data-lity-close>
          <i class="far fa-times"></i>
          <span class="sr-only">Close Modal</span>
        </button>
      </header>
      <div class="card__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolorem illo voluptates sapiente blanditiis necessitatibus, labore ea quae consequatur odio dolores cum magnam itaque aspernatur beatae, non doloribus. Ut, fugiat!</p>

        <div class="gform_wrapper">
          <form action="">

            <div class="gform_body">
              <ul class="gform_fields top_label form_sublabel_below description_below">
                <li class="gfield gf_left_half">
                  <div class="ginput_container">
                    <label class="gfield_label">First Name <span class="gfield_required">*</span></label>
                    <input type="text" class="medium">
                  </div>
                </li>
                <li class="gfield gf_right_half">
                  <div class="ginput_container">
                    <label class="gfield_label">Last Name <span class="gfield_required">*</span></label>
                    <input type="text" class="medium">
                  </div>
                </li>
                <li class="gfield field_sublabel_below">
                  <div class="ginput_container">
                    <label class="gfield_label">Address</label>
                    <input type="text" class="medium">
                    <label>Street Address</label>
                  </div>
                </li>
                <li class="gfield">
                  <div class="ginput_container">
                    <label class="gfield_label">How did you hear about us?</label>
                    <select>
                      <option value="" selected="selected">The World Wide Web, my dude</option>
                      <option value="Afghanistan">Afghanistan</option>
                      <option value="Albania">Albania</option>
                      <option value="Algeria">Algeria</option>
                    </select>
                  </div>
                </li>
                <li class="gfield">
                  <div class="ginput_container">
                    <label class="gfield_label">Address</label>
                    <textarea></textarea>
                  </div>
                </li>
              </ul>
            </div>

            <div class="gform_footer top_label">
              <input type="submit" class="gform_button button" value="Submit">
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
  <!-- .card--modal -->

  <p><a class="btn btn--large" href="#trigger-modal" data-lity="data-lity">Open the Modal</a></p>

</div>