<!-- stacked -->
<ul class="social-icons">
  <li><a href="#" class="social-icons__link"><i class="fab fa-twitter"></i></a></li>
  <li><a href="#" class="social-icons__link"><i class="fab fa-facebook-f"></i></a></li>
  <li><a href="#" class="social-icons__link"><i class="fab fa-instagram"></i></a></li>
</ul>

<!-- inline -->
<ul class="social-icons social-icons--inline">
  <li><a href="#" class="social-icons__link"><i class="fab fa-twitter"></i></a></li>
  <li><a href="#" class="social-icons__link"><i class="fab fa-facebook-f"></i></a></li>
  <li><a href="#" class="social-icons__link"><i class="fab fa-instagram"></i></a></li>
</ul>

<!-- on a dark background and inline -->
<div style="background:#1C457A;padding:20px;">
  <ul class="social-icons social-icons--light social-icons--inline">
    <li><a href="#" class="social-icons__link"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#" class="social-icons__link"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#" class="social-icons__link"><i class="fab fa-instagram"></i></a></li>
  </ul>
</div>

<!-- on a dark background and stacked -->
<div style="background:#1C457A;padding:20px;">
  <ul class="social-icons social-icons--light">
    <li><a href="#" class="social-icons__link"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#" class="social-icons__link"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#" class="social-icons__link"><i class="fab fa-instagram"></i></a></li>
  </ul>
</div>