<div class="card card--notice">
  <div class="card__inner">
    <header class="card__header">
      <h3 class="card__title">
        <i class="fas fa-exclamation"></i> Notice
      </h3>
    </header>
    <div class="card__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
  </div>
</div> <!-- .card -->
