<div class="food-menu">

  <header class="food-menu__main-header">
    <div class="grid-ng-center">
      <div class="grid__col-ng-6 food-menu__info">
        <div class="food-menu__info-inner">
          <div class="food-menu__info-logo">
            <img src="https://placeimg.com/176/140/nature" alt="">
          </div>
          <div class="food-menu__info-text">
            <p>The 7/10 Grille Restaurant features classic American Grill Food with a Chef's twist!</p>
          </div>
        </div>
      </div>
      <div class="grid__col-ng-6 food-menu__legend-wrapper">
        <ul class="food-menu__legend">
          <li class="food-menu__legend-icon--chefs-choice">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 469.33 469.33"><g><path d="M394.67 384H74.75a10.67 10.67 0 0 0-10.67 10.66v31.1a43.53 43.53 0 0 0 43.52 43.57h254.21a43.57 43.57 0 0 0 43.52-43.52v-31.14A10.66 10.66 0 0 0 394.67 384zM352 42.67a110.58 110.58 0 0 0-20.34 2 127.9 127.9 0 0 0-225 83.35 10.67 10.67 0 0 1-21.33 0 147.33 147.33 0 0 1 15.79-66.41A10.67 10.67 0 0 0 89 46.47a117 117 0 0 0-24.75 218.09L64.14 352a10.65 10.65 0 0 0 10.66 10.67h319.87A10.66 10.66 0 0 0 405.33 352v-87.59A117.27 117.27 0 0 0 352 42.67zM156.1 296.25a10.69 10.69 0 0 1-15-1.48c-3.52-4.3-34.42-42.76-34.42-70.77a10.67 10.67 0 0 1 21.32 0c0 15.44 18.15 43.29 29.58 57.23a10.69 10.69 0 0 1-1.48 15.02zm89.23-8.25a10.67 10.67 0 1 1-21.33 0v-64a10.67 10.67 0 1 1 21.33 0v64zm82.92 6.77a10.67 10.67 0 0 1-16.5-13.53c11.44-14 29.58-41.85 29.58-57.24a10.67 10.67 0 1 1 21.33 0c.01 28-30.89 66.47-34.41 70.77z"/></g></svg>
            <strong>Chef's Choice</strong>
          </li>
          <li class="food-menu__legend-icon--gluten-free">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1125.63 1125.62"><path d="M562.81 0C252.48 0 0 252.48 0 562.81s252.48 562.81 562.81 562.81 562.82-252.48 562.82-562.81S873.15 0 562.81 0zm-13.29 701.49c-14 15-29 28.4-53 40.11s-54.35 17.56-91.05 17.56c-46.66 0-85.94-14.5-115.48-43.52s-45.48-66.67-45.48-113V523c0-46.14 15.4-83.76 43.8-112.86s65.57-43.65 110.31-43.65c46.49 0 82.39 11.32 107.13 33.95s37.51 52.9 38 89.77l-.37 2.08h-72.06c-1.4-22-7.86-36.82-19.4-48.61s-28.4-17.95-50.59-17.95c-23.42 0-41.64 8.91-56 27s-20.84 41.21-20.84 69.67v80.14c0 29 6.77 52.51 21.63 70.59s34.54 27.1 59.7 27.1c17.83 0 32.67-1.83 43.51-5.49s16.16-8.19 25.16-13.59v-69.89h-71v-53h146v143.23zm331-271.23h-190v106h163v57h-163v159h-75v-379h265z"/></svg>
            <strong>Gluten Free</strong>
          </li>
          <li class="food-menu__legend-icon--health-advisory">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.48 18.58"><path d="M10.2.31l2.48 5.86 6.32.55a.5.5 0 0 1 .28.88l-4.78 4.16L15.94 18a.5.5 0 0 1-.74.54l-5.46-3.32-5.45 3.28a.5.5 0 0 1-.75-.5L5 11.76.17 7.59a.5.5 0 0 1 .28-.88l6.35-.54L9.28.31a.5.5 0 0 1 .92 0z"/></svg>
            <strong>Health Advisory</strong>
          </li>
          <li class="food-menu__legend-icon--healthy-choice">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.72 426.82"><g data-name="Layer 2"><path d="M492.72 133.06a133 133 0 0 0-246.36-69.49A132.95 132.95 0 1 0 45.67 233.23l188.55 188.56a17.17 17.17 0 0 0 24.28 0L447 233.23a132.57 132.57 0 0 0 45.72-100.17z" data-name="Capa 1"/></g></svg>
            <strong>Healthy Choice</strong>
          </li>
          <li class="food-menu__legend-icon--hot-spicy">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496.09 421.29"><path d="M473.35 26.5a25.11 25.11 0 1 0-35 36c.08.08 8.31 9.63 7.52 27.89-.35 8.07-2.75 19.95-10.44 35.3a102.09 102.09 0 0 1 22 16.23 101 101 0 0 1 15.39 19.56C487 137.79 495 114.74 496 92.5c1.76-40.98-20.15-63.56-22.65-66zm-94.92 118.35c-33.4 0-68.87 16.68-88.23 43.65C191 326.82 90.69 333.91 37.92 333.91c-6 0-11.44-.1-16.15-.1-18.36 0-26.21 1.4-19.26 15.12 16.49 32.54 91.55 72.36 183.78 72.36 74.29 0 159.69-25.85 234.48-102.16C458.5 280.65 472.43 203.5 434 165.79c-14.81-14.48-34.79-20.94-55.57-20.94z"/><path d="M64.38 267.55c-1.89-24.43 2.67-79.85 75.48-111.05 0 0-27 65.38 9.58 98.45 26.56-20.73 45.25-54.59 47.17-87.34C202.12 73.16 136.17 23.45 93.35 1.29a11.51 11.51 0 0 0-15.71 15.13c16.54 35.12 27.68 97.94-43.09 171.07-21.61 22.3-4 63.35 29.83 80.06z"/></svg>
            <strong>Hot/Spicy</strong>
          </li>
        </ul> <!-- .food-menu__legend-list -->
      </div>
    </div>
  </header>

  <div class="accordion__item food-menu__group">
    <header class="accordion__header food-menu__header">
      <h3>Appetizers</h3> <i aria-hidden="true"></i>
    </header>
    <div class="accordion__content food-menu__item-group">

      <div class="food-menu__item">
        <header class="food-menu__item-header">
          <h4>Sampler <i class="ss-icon-gluten-free"></i> <span class="food-menu__item-price">14.75</span></h4>
        </header>
        <div class="food-menu__item-content">
          <p>Giant Bavarian Pretzel, Cheese Bites, Popcorn Shrimp &amp; Choice of Tenders or Wings.</p>
        </div>
      </div> <!-- .food-menu__item -->

      <div class="food-menu__item">
        <header class="food-menu__item-header">
          <h4>Giant Bavarian Pretzel <i class="ss-icon-health-advisory"></i> <span class="food-menu__item-price">7.45</span></h4>
        </header>
        <div class="food-menu__item-content">
          <p>Served with Wisconsin beer cheese sauce, queso and mustard dipping sauce.</p>
        </div>
      </div> <!-- .food-menu__item -->

      <div class="food-menu__item">
        <header class="food-menu__item-header">
          <h4>Chicken Tenders <i class="ss-icon-healthy-choice"></i> <span class="food-menu__item-price">9.45</span></h4>
        </header>
        <div class="food-menu__item-content">
          <p>Served with french fries and honey mustard dipping sauce.</p>
        </div>
      </div> <!-- .food-menu__item -->

      <div class="food-menu__item">
        <header class="food-menu__item-header">
          <h4>Fried Pickles <span class="food-menu__item-price">6.45</span></h4>
        </header>
        <div class="food-menu__item-content">
          <p>Hand-battered Kosher dill chips served with Chipotle aioli.</p>
        </div>
      </div> <!-- .food-menu__item -->

      <div class="food-menu__item">
        <header class="food-menu__item-header">
          <h4>Cheese Bites <i class="ss-icon-hot-spicy"></i> <span class="food-menu__item-price">8.45</span></h4>
        </header>
        <div class="food-menu__item-content">
          <p>Golden fried cheese curds served with marinara sauce.</p>
        </div>
      </div> <!-- .food-menu__item -->

      <div class="food-menu__item">
        <header class="food-menu__item-header">
          <h4>Mozarella Sticks <span class="food-menu__item-price">7.45</span></h4>
        </header>
        <div class="food-menu__item-content">
          <p>Mozzarella Sticks deep fried and served with marinara sauce.</p>
          <table class="food-menu__item-additions">
            <tr>
              <td><em>Add chicken or steak</em></td>
              <td><strong>3.00</strong></td>
            </tr>
            <tr>
              <td><em>Add shrimp</em></td>
              <td><strong>4.00</strong></td>
            </tr>
          </table>
        </div>
      </div> <!-- .food-menu__item -->

    </div>
  </div> <!-- .food-menu__group -->

  <div class="accordion__item food-menu__group">
    <header class="accordion__header food-menu__header">
      <h3>Burgers</h3> <i aria-hidden="true"></i>
    </header>
    <div class="accordion__content food-menu__item-group">

      <div class="food-menu__item-group-summary">
        <p>Served with French Fries, Sidewinder Fries or Tater Tots. Substitute grilled bistro vegetables <i class="ss-icon-gluten-free"></i>, yellow rice, sweet potato fries or onion rings for an additional 1.00</p>
        <p class="food-menu__pull">All of our burgers are 1/2 pound hand-pattled, cooked to order and may be substituted with a grilled chicken breast. Gluten Free <i class="ss-icon-gluten-free"></i> if served without a bun.</p>
      </div>

      <div class="food-menu__item">
        <header class="food-menu__item-header">
          <h4>Sampler <span class="food-menu__item-price">14.75</span></h4>
        </header>
        <div class="food-menu__item-content">
          <p>Giant Bavarian Pretzel, Cheese Bites, Popcorn Shrimp &amp; Choice of Tenders or Wings.</p>
        </div>
      </div> <!-- .food-menu__item -->

      <div class="food-menu__item">
        <header class="food-menu__item-header">
          <h4>Giant Bavarian Pretzel <i class="ss-icon-chefs-choice"></i> <span class="food-menu__item-price">7.45</span></h4>
        </header>
        <div class="food-menu__item-content">
          <p>Served with Wisconsin beer cheese sauce, queso and mustard dipping sauce.</p>
        </div>
      </div> <!-- .food-menu__item -->

      <div class="food-menu__item">
        <header class="food-menu__item-header">
          <h4>Chicken Tenders <span class="food-menu__item-price">9.45</span></h4>
        </header>
        <div class="food-menu__item-content">
          <p>Served with french fries and honey mustard dipping sauce.</p>
        </div>
      </div> <!-- .food-menu__item -->

      <div class="food-menu__item">
        <header class="food-menu__item-header">
          <h4>Fried Pickles <span class="food-menu__item-price">6.45</span></h4>
        </header>
        <div class="food-menu__item-content">
          <p>Hand-battered Kosher dill chips served with Chipotle aioli.</p>
        </div>
      </div> <!-- .food-menu__item -->

      <div class="food-menu__item">
        <header class="food-menu__item-header">
          <h4>Cheese Bites <span class="food-menu__item-price">8.45</span></h4>
        </header>
        <div class="food-menu__item-content">
          <p>Golden fried cheese curds served with marinara sauce.</p>
        </div>
      </div> <!-- .food-menu__item -->

      <div class="food-menu__dividing-title">
        <h3>Traditional</h3>
      </div>

      <div class="food-menu__item">
        <header class="food-menu__item-header">
          <h4>Giant Bavarian Pretzel <i class="ss-icon-chefs-choice"></i> <span class="food-menu__item-price">7.45</span></h4>
        </header>
        <div class="food-menu__item-content">
          <p>Served with Wisconsin beer cheese sauce, queso and mustard dipping sauce.</p>
        </div>
      </div> <!-- .food-menu__item -->

      <div class="food-menu__item">
        <header class="food-menu__item-header">
          <h4>Chicken Tenders <span class="food-menu__item-price">9.45</span></h4>
        </header>
        <div class="food-menu__item-content">
          <p>Served with french fries and honey mustard dipping sauce.</p>
        </div>
      </div> <!-- .food-menu__item -->

    </div>
  </div> <!-- .food-menu__group -->

</div> <!-- .food-menu -->