{% block html_head_container %}
	{% include 'views/header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}">

		<div id="primary" class="content-area">

			<main id="page" class="site" role="main">

        {% block content %}
          <p>Sorry, no content.</p>
        {% endblock %}

      </main>

		</div> <!-- #primary -->

		{{function('wp_footer')}}
	</body>
</html>
