<!-- these styles are only for presentation -->
<style>
  .presentation-grid > .grid,
  .presentation-grid > [class*="grid-"] {
    margin-bottom: 20px;
  }

  .presentation-grid [class*="grid__col"] {
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
  }
</style>

<div class="presentation-grid">

  <div class="grid">
    <div class="grid__col-6">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="grid__col-6">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at ea quasi distinctio quae id maxime, saepe perspiciatis impedit alias dolorem, odit corporis officiis dolorum ut atque praesentium deserunt blanditiis!</p>
    </div>
  </div>
      
  <div class="grid">
    <div class="grid__col-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at ea quasi distinctio quae id maxime, saepe perspiciatis impedit alias dolorem, odit corporis officiis dolorum ut atque praesentium deserunt blanditiis!</p>
    </div>
    <div class="grid__col-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at ea quasi distinctio quae id maxime, saepe perspiciatis impedit alias dolorem, odit corporis officiis dolorum ut atque praesentium deserunt blanditiis!</p>
    </div>
    <div class="grid__col-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at ea quasi distinctio quae id maxime, saepe perspiciatis impedit alias dolorem, odit corporis officiis dolorum ut atque praesentium deserunt blanditiis!</p>
    </div>
    <div class="grid__col-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at ea quasi distinctio quae id maxime, saepe perspiciatis impedit alias dolorem, odit corporis officiis dolorum ut atque praesentium deserunt blanditiis!</p>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col-9">
      <h2>Hello World!</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at ea quasi distinctio quae id maxime, saepe perspiciatis impedit alias dolorem, odit corporis officiis dolorum ut atque praesentium deserunt blanditiis!</p>
    </div>
    <div class="grid__col-3">
      <h3>Hello World!</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at ea quasi distinctio quae id maxime, saepe perspiciatis impedit alias dolorem, odit corporis officiis dolorum ut atque praesentium deserunt blanditiis!</p>
    </div>
  </div>

</div>