<div class="card">
  <div class="card__inner">
    <header class="card__header">
      <h3 class="card__title">Card Title</h3>
    </header>
    <div class="card__content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolorem illo voluptates sapiente blanditiis necessitatibus, labore ea quae consequatur odio dolores cum magnam itaque aspernatur beatae, non doloribus. Ut, fugiat!</p>
    </div>
    <footer class="card__footer">
      <a href="#">
        Do Something <i class="fas fa-arrow-right"></i>
      </a>
    </footer>
  </div>
</div> <!-- .card -->