<!-- no columns -->
<section class="hero" style="background-image:url('http://placeimg.com/1920/1080/nature');">
  <div class="hero__inner">
    <h3 class="hero__sub-title">Huntsville, AL</h3>
    <h2 class="hero__title">Get Away And Play</h2>
  </div>
</section> <!-- .hero -->

<!-- has columns -->
<section class="hero" style="background-image:url('http://placeimg.com/1920/1080/nature');">
  <div class="hero__inner">
    <div class="grid-ng-center">
      <div class="grid__col-ng-8">
        <h3 class="hero__sub-title">Huntsville, AL</h3>
        <h1 class="hero__big-title">Get Away And Play</h1>
      </div>
      <div class="grid__col-ng-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta atque soluta tempora quisquam in doloremque magni magnam, explicabo modi labore quia aliquid dignissimos repudiandae necessitatibus veritatis, quaerat, nulla eligendi?</p>
      </div>
    </div>
  </div>
</section> <!-- .hero -->

<!-- has columns -->
<section class="hero" style="background-image:url('http://placeimg.com/1920/1080/nature');">
  <div class="hero__inner">
    <div class="grid-ng-center">
      <div class="grid__col-ng-8">
        
      </div>
      <div class="grid__col-ng-4 grid__col-right">
        <h2 class="hero__title">Have a better birthday.</h2>
        <p>
          <a href="#" class="btn">
            Book A Party
          </a>
        </p>
      </div>
    </div>
  </div>
</section> <!-- .hero -->