<h3>Unordered Lists</h3>

<ul>
  <li><a href="#">Unordered list item</a></li>
  <li><a href="#">Unordered list item</a></li>
  <li><a href="#">Unordered list item</a></li>
  <li><a href="#">Unordered list item</a></li>
  <li><a href="#">Unordered list item</a></li>
  <li><a href="#">Unordered list item</a>
    <ul>
      <li>Nested unordered list item</li>
      <li>Nested unordered list item</li>
      <li>Nested unordered list item</li>
      <li>Nested unordered list item</li>
    </ul>
  </li>
  <li><a href="#">Unordered list item</a></li>
  <li><a href="#">Unordered list item</a></li>
</ul>

<h3>Ordered Lists</h3>

<ol>
  <li><a href="#">Unordered list item</a></li>
  <li><a href="#">Unordered list item</a></li>
  <li><a href="#">Unordered list item</a></li>
  <li><a href="#">Unordered list item</a></li>
  <li><a href="#">Unordered list item</a></li>
  <li><a href="#">Unordered list item</a>
    <ol>
      <li>Nested unordered list item</li>
      <li>Nested unordered list item</li>
      <li>Nested unordered list item</li>
      <li>Nested unordered list item</li>
    </ol>
  </li>
  <li><a href="#">Unordered list item</a></li>
  <li><a href="#">Unordered list item</a></li>
</ol>